In [79]:
import psycopg2
import pandas as pd
pgconn = psycopg2.connect(database='sustainablecorn', host='iemdb', user='nobody')
cursor = pgconn.cursor()
pd.set_printoptions(max_rows=400, max_columns=10)
cursor.execute("""
 SELECT uniqueid, operation, to_char(valid, 'Mon dd,YYYY'), cropyear, valid from operations ORDER by valid ASC
""")
rows = []
for row in cursor:
    rows.append( dict(siteid=row[0], year=row[3], operation=row[1], date=row[4], sdate=row[2]) )
    
df = pd.DataFrame(rows)
print 'Loaded %s rows from the database!' % (len(df),)

Loaded 634 rows from the database!

In [76]:
df.operation.unique()

array([plant_wheat, tillage_surface, plant_rye, fertilizer_synthetic,
       tillage_chisel, tillage_plow, tillage_cultivate, manure_manure,
       plant_corn, termination_rye_corn, plant_soy, termination_rye_soy,
       tillage_disk, plant_other, tillage_rotaryhoe, harvest_wheat,
       tillage_rowcultivate, harvest_other, harvest_soy, harvest_corn,
       tillage_chopstalks, tillage_rip, sample_soilnitrate, soiladmend_lime], dtype=object)

In [94]:
df2 = df[(
          (df.operation == 'termination_rye_corn')|
          (df.operation == 'termination_rye_soy'))
         &(df.year==2013)
        ].sort(['date'])
df2[['sdate', 'operation', 'siteid', 'year']]

           sdate             operation       siteid  year
477  Apr 15,2013  termination_rye_corn        SEPAC  2013
478  Apr 20,2013  termination_rye_corn  BRADFORD.B2  2013
479  Apr 20,2013   termination_rye_soy  BRADFORD.B2  2013
480  Apr 20,2013  termination_rye_corn  BRADFORD.B1  2013
481  Apr 20,2013   termination_rye_soy   BRADFORD.C  2013
482  Apr 20,2013  termination_rye_corn   BRADFORD.C  2013
485  Apr 25,2013  termination_rye_corn      GILMORE  2013
486  Apr 27,2013  termination_rye_corn        ISUAG  2013
489  Apr 30,2013   termination_rye_soy        SEPAC  2013
498  May 08,2013   termination_rye_soy      KELLOGG  2013
500  May 08,2013   termination_rye_soy   NAEW.WS123  2013
502  May 08,2013  termination_rye_corn      KELLOGG  2013
503  May 09,2013  termination_rye_corn  WOOSTER.COV  2013
511  May 10,2013  termination_rye_corn      FREEMAN  2013
512  May 10,2013   termination_rye_soy      FREEMAN  2013
516  May 14,2013  termination_rye_corn        MASON  2013
520  May 15,2013   termination_rye_soy        ISUAG  2013
524  May 15,2013  termination_rye_corn        ISUAG  2013
544  May 23,2013   termination_rye_soy      GILMORE  2013

In [93]:
df2 = df[df.operation == 'plant_corn']
df2[['date', 'operation', 'siteid', 'year']]

           date   operation         siteid  year
26   2011-04-14  plant_corn       WATERMAN  2011
32   2011-05-03  plant_corn          NWREC  2011
33   2011-05-03  plant_corn           SERF  2011
38   2011-05-06  plant_corn            ARL  2011
40   2011-05-06  plant_corn        SWROC.B  2011
41   2011-05-09  plant_corn        GILMORE  2011
43   2011-05-10  plant_corn          ISUAG  2011
47   2011-05-11  plant_corn     BRADFORD.C  2011
60   2011-05-12  plant_corn            LAN  2011
66   2011-05-20  plant_corn            MAR  2011
70   2011-05-21  plant_corn          SEPAC  2011
80   2011-05-31  plant_corn     NAEW.WS118  2011
82   2011-05-31  plant_corn     NAEW.WS113  2011
98   2011-06-03  plant_corn    WOOSTER.COV  2011
99   2011-06-04  plant_corn    WOOSTER.LTR  2011
103  2011-06-06  plant_corn  HOYTVILLE.LTR  2011
105  2011-06-07  plant_corn        FREEMAN  2011
112  2011-06-08  plant_corn    BRADFORD.B1  2011
114  2011-06-09  plant_corn    BRADFORD.B2  2011
120  2011-06-15  plant_corn     NAEW.WS127  2011
125  2011-06-18  plant_corn        KELLOGG  2011
126  2011-06-20  plant_corn          MASON  2011
277  2012-04-19  plant_corn       WATERMAN  2012
282  2012-04-23  plant_corn           DPAC  2012
285  2012-04-24  plant_corn  HOYTVILLE.LTR  2012
287  2012-04-24  plant_corn          SEPAC  2012
289  2012-04-25  plant_corn     BRADFORD.C  2012
294  2012-04-25  plant_corn        SWROC.G  2012
295  2012-04-26  plant_corn    BRADFORD.B2  2012
296  2012-04-26  plant_corn          ISUAG  2012
297  2012-04-26  plant_corn    BRADFORD.B1  2012
310  2012-05-08  plant_corn            LAN  2012
314  2012-05-10  plant_corn      NAEW.Y102  2012
315  2012-05-10  plant_corn        SWROC.B  2012
316  2012-05-10  plant_corn        GILMORE  2012
317  2012-05-10  plant_corn     NAEW.WS109  2012
321  2012-05-11  plant_corn            ARL  2012
322  2012-05-11  plant_corn        FREEMAN  2012
330  2012-05-14  plant_corn     BRADFORD.A  2012
340  2012-05-16  plant_corn     BRADFORD.C  2012
343  2012-05-17  plant_corn          MASON  2012
348  2012-05-17  plant_corn            MAR  2012
350  2012-05-17  plant_corn    BRADFORD.B1  2012
353  2012-05-18  plant_corn    BRADFORD.B2  2012
366  2012-05-25  plant_corn    WOOSTER.COV  2012
367  2012-05-25  plant_corn     NAEW.WS123  2012
368  2012-05-25  plant_corn      NAEW.Y103  2012
386  2012-06-21  plant_corn      NAEW.Y102  2012
492  2013-05-02  plant_corn          SEPAC  2013
504  2013-05-09  plant_corn     NAEW.WS115  2013
507  2013-05-09  plant_corn     NAEW.WS111  2013
509  2013-05-09  plant_corn        STJOHNS  2013
518  2013-05-14  plant_corn        GILMORE  2013
523  2013-05-15  plant_corn     BRADFORD.C  2013
527  2013-05-16  plant_corn        FREEMAN  2013
534  2013-05-17  plant_corn     BRADFORD.A  2013
535  2013-05-17  plant_corn          ISUAG  2013
537  2013-05-18  plant_corn    BRADFORD.B1  2013
538  2013-05-18  plant_corn    BRADFORD.B2  2013
541  2013-05-20  plant_corn    WOOSTER.COV  2013
548  2013-06-04  plant_corn        KELLOGG  2013
552  2013-06-05  plant_corn          MASON  2013

In [91]:
df2 = df[df.operation == 'sample_soilnitrate']
df2[['date', 'operation', 'siteid', 'year']]

           date           operation siteid  year
192  2011-10-11  sample_soilnitrate  SEPAC  2011
235  2011-12-13  sample_soilnitrate   DPAC  2011
251  2012-03-30  sample_soilnitrate  SEPAC  2012
253  2012-04-04  sample_soilnitrate   DPAC  2012
440  2012-10-09  sample_soilnitrate  SEPAC  2012
461  2012-11-06  sample_soilnitrate   DPAC  2012
476  2013-04-15  sample_soilnitrate  SEPAC  2013
487  2013-04-30  sample_soilnitrate  SEPAC  2013
610  2013-10-21  sample_soilnitrate   DPAC  2014